{% extends 'padre.html' %}


{% block contenidoquecambia %}




<h1>Lista de Colecciones </h1>

<ul>
  
  {% for coleccion in coleccion %}
    <li>
      <a href="{% url 'detalle_coleccion' coleccion.id %}">
        {{ coleccion }}
      </a>
    </li>
    <div style="display: flex; column-gap: 5px;">
      <button>
        <a href="{% url 'elimina_coleccion' coleccion.id %}">Eliminar</a>
      </button>
      <button>
        <a href="{% url 'modifica_coleccion' coleccion.id %}">Editar</a>
      </button>
    </div>
  {% endfor %}
    
</ul>
  
    <a href="{% url 'crear_coleccion' %}">Crea Coleccion</a>
     
   


   


    


    
{% endblock contenidoquecambia %}
    